<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pokemon Card Generator</title>
    <link rel="stylesheet" href="profile.css">
</head>

<body>
    <a href="/" id="homeButton" class="button-55" role="button">HOME</a>
    <div class="container">
        <div id="card">
              <h2 class="poke-name">Name</h2>
              <%- name %>
              <div class="imgs">
                <img src="<%- image%>" alt="ur pokemon"> 
              </div>
              <div class="stats">
                <div>
                  <h3></h3>
                  <p>Type</p>
                  <%- type %>
                </div>
                <div>
                    <h3></h3>
                    <p>Height</p>
                    <%- height %>
                </div>
                <div>
                    <h3></h3>
                    <p>Ability</p>
                    <%- ability %>
                </div>
                <div>
                    <h3></h3>
                    <p>Background Info</p>
                    <%- bginfo %>
                </div>
        </div>
    </div>
    <br>
    <p id="log">Logged in as <%- username %></p>
    <br>
</body>
</html>


    <body> 

    </body>
</html>
