<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pokemon Card Generator</title>
    <script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>
    <link rel="stylesheet" href="profile.css">
    <link rel="stylesheet" href="style.css">
</head>
<script>
    function getColor() {
        const typeColor = {
				bug: "#26de81",
				dragon: "#ffeaa7",
				electric: "#fed330",
				fairy: "#FF0069",
				fighting: "#30336b",
				fire: "#f0932b",
				flying: "#81ecec",
				grass: "#00b894",
				ground: "#EFB549",
				ghost: "#a55eea",
				ice: "#74b9ff",
				normal: "#95afc0",
				poison: "#6c5ce7",
				psychic: "#a29bfe",
				rock: "#2d3436",
				water: "#0190FF",
                dark: "#4e4f4e"
			};

        getType = document.getElementById("idstat").innerHTML;
        document.getElementById("card").style.backgroundColor = typeColor[getType];  
    }   
</script>
<body id="homePage" onload="getColor()" >
    <a href="/" id="homeButton" class="button-55" role="button">
        <iconify-icon icon="material-symbols:home-outline-rounded" style="color: red;" width="30" height="30"></iconify-icon>
     </a>
        <a href="/logout" id="logButton" class="button-55" role="button"><iconify-icon icon='material-symbols:logout' style='color: red;' width='30' height='30'></iconify-icon></a>
    <div id="menu">
        <h1>Your Profile</h1>
            <div id="card">
                <h2 class="poke-name"><%- name %></h2>
                <div class="imgs">
                    <img src="<%- image%>" alt="ur pokemon">
                </div>
                <div class="stats" class="istat">
                    <div id="type">
                        <h3></h3>
                        <p><strong>Type:</strong> &emsp; <%- type %></p>
                        <p id="idstat" style="visibility: hidden;"><%- type %></p>
                    </div>
                    <div id="height" class="istat">
                        <h3></h3>
                        <p><strong>Height:</strong >&emsp; <%- height %></p>
                    </div>
                    <div id="ability" class="istat">
                        <h3></h3>
                        <p><strong>Ability:</strong> &emsp; <%- ability %></p>
                    </div>
                    <div id="bg" class="istat">
                        <h3></h3>
                        <p><strong>Background Info:</strong></p>
                        <p><%- bginfo %></p>
                    </div>
                </div>
            </div>
            <p id="log" style="background-color: rgba(42, 117, 187, 0.6); width:600px">Logged in as <%- username %></p>
            <br>
    </div>
</body>

</html>


<body>

</body>

</html>